# <center><div class="alert alert-block alert-danger"><b>Tercer parcial Electiva 3</b><br></div></center></center>
## Presentado por: 
### Brayan Andrés Medina Correa

<div class="alert alert-block alert-success">
    <b>Desarrollar lo siguiente:</b><br>
    A. Crea una lista "materias" con los textos(materias) llamadas "Programación, IoT, calidad"
    </div>

In [2]:
import numpy as np
import pandas as pd

In [3]:
materias = ['Programación', 'IoT', 'Calidad de software']
materias

['Programación', 'IoT', 'Calidad de software']

<div class="alert alert-block alert-success">
    B. Crear una lista "notas" con los valores para cada asignatura "4.5, 3.8, 4.4" respectivamente.
    </div>

In [4]:
notas = [4.5, 3.8, 4.4]
notas

[4.5, 3.8, 4.4]

<div class="alert alert-block alert-success">
    C. Crear una seria donde las notas sean los valores y las materias sean los índices.
    </div>

In [21]:
listadoNotas = pd.DataFrame(notas,index = materias)
listadoNotas.head()

                       0
Programación         4.5
IoT                  3.8
Calidad de software  4.4

<div class="alert alert-block alert-success">
    D. Crear una materia llamada "nota IoT" la cual se le asignara la nota de IoT.
    </div>

In [22]:
s.append(pd.Series(3.8, index=['nota_IoT']))

NameError: name 's' is not defined

<div class="alert alert-block alert-success">
    <b>Desarrollar lo siguiente:</b><br>
    A. Crear dataframe con las ventas de 3 sucursales para los meses de marzo, abril y mayo 
    </div>

In [7]:
datos = {'Mes':['Marzo','Abril','Mayo'], 'Ventas':[30500, 35600, 28300]}
tabla = pd.DataFrame(datos)
tabla

     Mes  Ventas
0  Marzo   30500
1  Abril   35600
2   Mayo   28300

<div class="alert alert-block alert-success">
    B. Crear una variable "venta_marzo" que contenga una lista de 3 numeros enteros aleatorios entre 201 y 500 
    </div>

In [10]:
ventasMarzo = np.random.randint(201, 500, 3)
print (ventasMarzo)

[462 490 335]

<div class="alert alert-block alert-success">
    C. crear una variable "venta_abril" que contenga una lista de 3 números enteros aleatorios
    </div>

In [12]:
ventasAbril = np.random.randint(201,500,3)
print (ventasAbril)

[356 238 407]

<div class="alert alert-block alert-success">
    D. Crear una variable "venta_mayo" que contenga una lista de 3 números enteros aleatorios entre 201 y 500
    </div>

In [14]:
venta_mayo = np.random.randint(201,500,3)
print (venta_mayo)

[364 475 261]

<div class="alert alert-block alert-success">           
    E. Crear una variable "fila" que contenga una lista con las palabras: venta_marzo, venta_abril, venta_mayo
    </div>

In [15]:
fila = ["venta_marzo", "venta_abril", "venta_mayo"]
print(fila)

['venta_marzo', 'venta_abril', 'venta_mayo']

<div class= "alert alert-block alert-success">
    F. Crear una variable "columna" que contenga una lista con las palabras: sede1, sede2, sede3
    </div>

In [17]:
columna = ["sede 1", "sede 2", "sede 3"]
print(columna)

['sede 1', 'sede 2', 'sede 3']

<div class="alert alert-block alert-success">
    G. Crear una variable "ventas" que contenga una lista con los valores de ventas de Marzo, Abril y Mayo
</div>

In [18]:
ventas = [30500, 35600, 28300]
print (ventas)

[30500, 35600, 28300]

<div class="alert alert-block alert-success">
    H. Crear una variable "dataframe" que contenga las ventas, filas y columnas
    </div>

In [19]:
datos = pd.DataFrame(ventas)
datos.head()

       0
0  30500
1  35600
2  28300

<div class="alert alert-block alert-success">
    I. Imprimir las ventas mes a mes por sede
    </div>

In [20]:
datos = pd.DataFrame([venta_marzo, venta_abril, venta_mayo], index = ['Marzo', 'Abril', 'Mayo'], columns = ['Sede 1', 'Sede 2', 'Sede 3'])
print (datos)

NameError: name 'venta_marzo' is not defined